<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93600109-3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-93600109-3');
  </script>

  <title>Requests Logger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Requests Logger</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <% if @error %>
    <div class="alert alert-danger">
      <strong>ERROR:</strong> <%= @error %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <strong>Example:</strong>
      <ul>
        <li><small><samp><strong>[POST]</strong> curl --request POST --data '{"username":"xyz","password":"xyz"}'
          https://requests-logger.appspot.com/<strong>REQ123</strong></samp></small>
        <li><small><samp><strong>[GET]</strong> curl https://requests-logger.appspot.com/<strong>REQ123</strong></samp></small>
        <li><small><samp><strong>[DELETE]</strong> curl -X DELETE https://requests-logger.appspot.com/<strong>REQ123</strong></samp></small>
      </ul>
    </div>
  <% end %>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th>Request</th>
      <th>Body</th>
      <th>IP</th>
      <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <% @list_of_requests.each do |request| %>
      <tr>
        <td class="text-nowrap"><%= request[:method] %> <a href="<%= request[:url] %>.<%= request[:record_number] %>"><%= request[:url] %></a> [<%= request[:record_number] %>]</td>
        <td width="70%">
          <div class="form-group">
            <textarea class="form-control input-sm" readonly><%= request[:body] %></textarea>
          </div>
        </td>
        <td class="text-nowrap"><%= request[:ip] %></td>
        <td class="text-nowrap"><%= request[:timestamp] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
