<!DOCTYPE html>
<html lang="en">
<head>
  <title>Requests Logger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Requests Logger</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <% if @error %>
    <div class="alert alert-danger">
      <strong>ERROR:</strong> <%= @error %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <small>
      <strong>Example:</strong>
      <li><samp><strong>[POST]</strong> curl --request POST --data '{"username":"xyz","password":"xyz"}'
      http://34.218.240.238:4567/<strong>REQ123</strong>
      <li><samp><strong>[GET]</strong> curl http://34.218.240.238:4567/<strong>REQ123</strong>
      </small>
    </div>
  <% end %>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th>Request</th>
      <th>Body</th>
      <th>IP</th>
      <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <% @list_of_requests.each do |request| %>
      <tr>
        <td class="text-nowrap"><%= request[:method] %> <%= request[:url] %></td>
        <td><%= request[:body] %></td>
        <td class="text-nowrap"><%= request[:ip] %></td>
        <td class="text-nowrap"><%= request[:timestamp] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
